nav {
  background: $white;
  box-shadow: 0 1px 2px rgba(99,114,130,0.06), 0 3px 6px rgba(27,39,51,0.08);
  height: auto;
  width: 100%;

  ul {
    padding-bottom: $sm-pad;
    padding-top: $sm-pad;
    margin: 0;
  }

  .brand {
    font-size: 1.5rem;
    text-align: center;
  }

  li {
    display: inline;
    padding: $md-pad;

    &.active a {
      color: $text !important;
    }

    a:hover {
      text-decoration: none;
      color: $text !important;
    }
  }
}

.hero {
  border-bottom: 1px $border;
  border-top: 0;
  margin-bottom: $md-pad;
}

footer {
  margin-bottom: 0;
}
